/* global styling */

h1 {
	margin: 0;
	text-align: center;
	font-weight: 300;
	font-size: 4rem;
}

h2 {
	margin: 0;
	text-align: center;
	font-weight: 300;
	font-size: 3rem;
}

h3 {
	margin: 0;
	text-align: center;
	font-weight: 300;
	font-size: 2rem;
}

p {
	font-size: 1.5rem;
	text-align: center;
}

button {
	margin: 1rem;
	border: 0;
	background-color: #7e7285;
	color: #e9ecef;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: 300;
	padding: 0.5rem 1rem;
	transition: background-color 0.5s ease;
}

button:hover {
	cursor: pointer;
	background-color: #52798e;
	color: #e9ecef;
}

button:active {
	background-color: #4a6382;
}

input[type='date'] {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	margin: 1rem;
	border: 0;
	background-color: #7e7285;
	color: #e9ecef;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: 300;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #52798e;
	transition: color 0.5s ease;
}

a:hover {
	color: #7e7285;
}

.alien {
	font-family: 'Orbitron', sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.selector {
	padding: 0.5rem;
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.selector div {
	display: flex;
	width: 100%;
	justify-content: center;
}

.Feature-result-container {
	width: 75%;
	padding: 1rem 0;
}

.Feature-result-container * {
	margin: 0.5rem;
}

.asteroid {
	font-size: 4rem;
}

/* component styling */

.Nav {
	height: 7rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 1.25rem;
}

.Home,
.Error {
	min-height: calc((var(--vh, 1vh) * 100) - 7rem - 2rem);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Feature {
	min-height: calc((var(--vh, 1vh) * 100) - 7rem - 2rem);
	display: flex;
	justify-content: center;
}

.Feature > * {
	margin: 0.5rem;
	border: 1px solid #52798e;
	border-radius: 5px;
}

.APoDResult {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.APoDResult img {
	max-height: calc(var(--vh, 1vh) * 50);
}

.NEO-container,
.RoverPhotos-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
}

.NEO,
.RoverPhoto {
	width: calc(33% - 1rem);
	background-color: #7e7285;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}

.RoverPhoto img {
	max-width: 100%;
	max-height: calc((var(--vh, 1vh) * 40));
}

.Loading {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 2rem;
}

/* smaller desktop styling */

@media (max-width: 1325px) {
	.selector div {
		flex-direction: column;
	}
}

/* tablet styling */

@media (max-width: 992px) {
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.75rem;
	}

	p {
		font-size: 1.5rem;
	}

	.selector {
		width: 33%;
	}

	.Feature-result-container {
		width: 67%;
	}

	.NEO-container,
	.RoverPhotos-container {
		display: flex;
		flex-direction: column;
	}

	.NEO,
	.RoverPhoto {
		width: calc(100% - 1rem);
	}
}

/* portrait mobile styling */

@media (max-width: 576px) {
	.Nav {
		flex-direction: column;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	p {
		font-size: 1rem;
	}

	.Feature {
		flex-direction: column;
	}

	.selector {
		width: calc(100% - 2rem - 2px);
	}

	.selector div {
		flex-direction: row;
	}

	.Feature-result-container {
		width: calc(100% - 1rem - 2px);
	}

	.APoDResult img {
		max-width: calc(100% - 1rem - 2px);
	}

	.NEO-container,
	.RoverPhotos-container {
		display: flex;
		flex-direction: column;
	}

	.NEO,
	.RoverPhoto {
		width: calc(100% - 1rem);
	}
}
